@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700&display=swap");
:root {
  --time: 1s;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Tajawal", sans-serif;
  color: var(--primary_text);
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: var(--boxs); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: var(--home-text); /* 0.5 second transition effect to slide in the sidenav */
}

.side-content {
  padding: 30px;
}

.side-width {
  width: 400px;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  margin-bottom: 30px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  -webkit-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.mood img {
  width: 25px;
}
.mood .btn-dark, .mood .btn-light {
  width: 120px;
  height: 55px;
  color: #fff;
  background-color: #818181;
  border-radius: 15px;
  border: 0;
  margin-left: 10px;
}
.mood .active-btn {
  display: none;
}

.dark-theme {
  --bg: rgba(17 17 17 / 94);
  --primary_text: #fff;
  --secondary_text: #858E96;
  --boxs: #333;
  background-color: var(--bg);
}
.dark-theme .bg {
  width: 100%;
  height: 950px;
  background-repeat: no-repeat;
  background-image: url("https://lh3.googleusercontent.com/EFhCGqDc0ttP_GXrrmoBCtCeEF9OG-chvQYaYsr9EmoDDSprUAq0pgBCy9qgZcrRkDPcyqjivpHuJ9pWOkbbXFgrbrybB-vzq7Wx-p921ahJ2bicKNenSf97BEaiXlDO_H_lgIbyp9NidfUNZMntBmTtknaOpAWUu9uzzrfn0UAqAZbAT_6SqVNFF8hI2BS7J9IhfcZdHzZgMksgP0mPPf5KPfJ9hB6vnhsFv50OCFc0WBIpiXoNBhZCU0xq3nBJbRWrvXABQguyxQ7ColtJwrDbAVuhVuVzCIW4r6od6GfIfgcu6XNqXkg-iF9SzyO-icujfPj3tlVGWLhahF1YfNcuh4hl4_56K6L-xzo1lYvbn9N4xO5l6Mr0Cj5at6WE7xgTNszhXS_h8PMuoIj0Q15Kt3QSg2kVUHNVmJUEsHb-0mvEYdinAoCGqTf1MsRnQ8fpM3qjgqiHqIfuqY1abqnEVh30CI89Im0SjOumXqOR3GTdX5jOm2yUYIkOHXFcNHsUPrTlZ5-wFQpAGOdxbztmDvm7hglTdQUZBtNg9tmprcHcApNiwEeJnG_N2fto9yvS2XPxnnrFtD0oDZTZZQdWWhwS8oLS-iqtNmborTcqU7x3P_pAbI12Btj515358lVEB9PmmloHWUjdxTp5b9fVlkqiljhBKi2AoRjOpG3ldXh4p_HMpSRFRAq7050Yi1VedRk4frguK9ZGf-nb6KtasvRxuytyq2YFwF99wOxfDx4BEXqSi2Et-8L61N3ePDVoWfGZBtiD5j1Yqtu2m807DyOsdHzl4rYyHaf4mcjjhWrCcJ9Eb7cMuT9IX1Jxr4xyuUPThLrPF5paJjW1iHbIPNuW-FcZkqZoRLimJUyDs_pdxEihwkAq4JpJHX-QEFFLmiE9m_I4btMwPQlpxLSZ0NQZbhD7KV_nHPSQFhOV=w1605-h903-s-no?authuser=0");
  background-size: contain;
}
.dark-theme .home-content h1 {
  color: #fff;
}
.dark-theme .home-content p {
  color: #858E96;
}

.light-theme {
  --bg: #eee;
  --primary_text: #000;
  --secondary_text: #333;
  --home-text: #fff;
  --home-text-secondary: #EAE6E6;
  --boxs: #fff;
  background-color: var(--bg);
}
.light-theme .bg {
  width: 100%;
  height: 950px;
  background-repeat: no-repeat;
  background-image: url("https://lh3.googleusercontent.com/AyDvA5H047jEnaqXZq8X3weamL94uen3xcnb1EnesNMsogBLlZZhM-ghxJZ6Evrn95waYJEKDsSAITY7esbilhSYt3aLhi6jhyCoCIWH_CRXJtN9N4dtTM0gNcSKrnps6jo7oh1ihqisQTtnPzmHHWFYNqvd-VN6bZaGFY905ZMKfpbqP8G1voUGX8LvgfMVwOJPf45YR3vO4VXgzhCPse-oJgqhbC0Ea106L1AO4RtOseJP2_SNntygfk4Fu3IZWYRhNL4-k7yZAz-mckYI2iVkx5qsEIvlGQvZkw8J-7-M3JjvTiG-DRD6cmU0oj8bCjXY-YY7xvTwcqP2jJcyDRoSAu-uncGnqRI7-BtV4Cq5gCBr26tEMjFwHkH3kPe6S8GhHiVf9WBwoox9c_XLZmW8iy3xQl6oy4Oq6PN02aciCcKWlX4_Iqv-Nsxtcs6bjqlpNrsOPgsg4GVxyiMTLpo2J0ijGF7hVAmod_v4WRFxAOHkD6aew017qVSWKBiliRQfuuU1C46jQyJPMo6rUfSWJEI3ZTMvOgxQewucbSUwcLEePBu4Y8v6p16p1ewI31JX08oAnxVW8ipptfXAU63E9PhYWTypb2d0z5iL4qdow_Wd4qBdgysD1TqXF_K2S7ItWm5a7UJRIqjexQeclPqz66ktgDb5wqaWOYga7DkDYjN6RZ0tlKN38l-R6ODQGA3oYwW2jo9xplf0dl4g142vRMC3rFZFPIMxL8jBG-EstRFf494Py9nonbSnR2J2lNqM4G_KT0yo1q6icNC7GUrR1IjmI5f7rD9_Azk8GlavI5f4J4LcHfmqwk2DDsOTpQGyh6XSEj0QLJkZLt0S-JVLMdzZOpCrssCI0phkGQtpV3r6tRlZGnQ1ptxaMPWhoLqb03nMBOj7g6n3nvVu2qZOsDrvHwMVGzwZ92gIopZB=w1605-h903-s-no?authuser=0");
  background-size: contain;
}
.light-theme .links ul li a {
  color: #fff;
}
.light-theme .home-content h1 {
  color: #fff;
}
.light-theme .home-content p {
  color: #EAE6E6;
}
.light-theme .closebtn {
  color: var(--primary_text);
}

.home-page {
  position: relative;
  top: -900px;
}

.navpar .logo img {
  width: 230px;
  height: 35px;
}
.navpar .links ul li {
  display: inline-block;
}
.navpar .links ul li:nth-of-type(2) {
  margin-right: 60px;
  margin-left: 60px;
}
.navpar .links ul a {
  color: var(--primary_text);
  text-decoration: none;
  font-size: 25px;
  font-weight: 300;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}
.navpar .links ul a:hover {
  color: #F78121;
}
.navpar .nav-icons {
  margin-top: -6px;
}
.navpar .nav-icons .btn-regester {
  width: 150px;
  height: 45px;
  margin-left: 50px;
  background-color: #F78121;
  color: #fff;
  font-weight: 500;
  border: 0;
  border-radius: 10px;
}
.navpar .nav-icons .Menu-icon {
  width: 50px;
  cursor: pointer;
}
.navpar .nav-icons .user-icon {
  width: 45px;
  margin-left: 20px;
}

.home-content {
  width: 800px;
  position: relative;
  top: 250px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.home-content h1 {
  font-weight: 700;
}
.home-content p {
  font-weight: 700;
  font-size: 20px;
  margin: 40px 0;
}
.home-content .btn-regester {
  width: 170px;
  height: 45px;
  margin-left: 50px;
  background-color: #F78121;
  color: #fff;
  font-weight: 500;
  border: 0;
  border-radius: 10px;
}

hr {
  color: #fff;
  margin-top: 25px;
}

.introduce {
  margin-top: -200px;
}
.introduce .introduce-img img {
  margin-bottom: -160px;
  margin: 100px auto -160px auto;
  width: 607px;
}
.introduce .introduce-content {
  width: 100%;
  height: 500px;
  background-color: var(--boxs);
  border-radius: 10px;
}
.introduce .introduce-content p {
  font-size: 20px;
  padding: 250px 130px;
}

.introduce-title h1,
.featrues-title h1,
.video-title h1,
.feedback-title h1 {
  color: #F78121;
  font-weight: 700;
  margin-bottom: 100px;
}

.featrues {
  margin-top: 200px;
}
.featrues .fade-in {
  -webkit-animation: fadeInRight 1s both;
          animation: fadeInRight 1s both;
}
.featrues .featrues-card {
  width: 280px;
  height: 350px;
  background-color: var(--boxs);
  border-radius: 10px;
}
.featrues .featrues-card .card-content {
  padding: 50px 20px;
}
.featrues .featrues-card .card-content .card-title h5 {
  color: var(--primary_text);
  margin: 20px 0;
  font-weight: 700;
}
.featrues .featrues-card .card-content .card-text p {
  color: var(--secondary_text);
}

.video-con {
  margin-top: 200px;
}
.video-con .video {
  width: 100%;
  height: 600px;
  background-color: var(--boxs);
  border-radius: 10px;
}
.video-con .video img {
  padding-top: 250px;
}

.feedback {
  margin-top: 200px;
}
.feedback .feedback-card {
  width: 47%;
  height: 300px;
  margin-bottom: 30px;
  padding: 60px 30px;
  background-color: var(--boxs);
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
}

.feedback-detial h5 {
  color: var(--secondary_text);
  margin: 15px 15px 0 0;
}

.feedback-avatar {
  width: 70px;
}

.feedback-comment {
  padding: 20px 82px;
  font-size: 20px;
  font-weight: 300;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(50%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(50%, 0, 0);
            transform: translate3d(50%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@media only screen and (min-width: 250px) and (max-width: 400px) {
  body {
    overflow-x: hidden;
  }
  .dark-theme .bg {
    width: 100%;
    height: 1050px;
    background-image: url("../Images/Untitled-15.jpg");
    background-size: contain;
  }
  .light-theme .bg {
    width: 100%;
    height: 1050px;
    background-image: url("../Images/Untitled-0.jpg");
    background-size: contain;
  }
  .side-width {
    width: 80%;
  }
  .home-page {
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
  .links {
    display: none;
  }
  .navpar {
    margin: 0 20px;
  }
  .navpar .logo img {
    width: 100px;
    height: 30px;
  }
  .navpar .nav-icons .Menu-icon {
    width: 35px;
  }
  .navpar .nav-icons .user-icon {
    width: 32px;
    margin-left: 10px;
  }
  .home-content {
    width: 90%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .home-content p {
    font-size: 14px;
    margin: 30px 0;
  }
  .home-content .btn-regester {
    width: 130px;
    height: 35px;
    margin: 0;
  }
  hr {
    margin-top: 25px;
  }
  .introduce {
    margin-top: -600px;
  }
  .introduce .introduce-img img {
    width: 280px;
    margin: 0px auto -80px auto;
  }
  .introduce .introduce-content {
    width: 95%;
    height: 400px;
    margin: 0 auto;
  }
  .introduce .introduce-content p {
    font-size: 14px;
    padding: 100px 10px;
  }
  .featrues .featrues-card {
    width: 80%;
  }
  .featrues .featrues-card .card-content {
    padding: 20px 15px;
  }
  .video-con .video {
    width: 90%;
    height: 350px;
    margin: 0 auto;
  }
  .video-con img {
    -webkit-transform: translateY(-35%);
            transform: translateY(-35%);
  }
  .feedback .feedback-card {
    width: 90%;
    height: 200px;
    margin-bottom: 30px;
    padding: 30px 30px;
  }
  .feedback .feedback-avatar {
    width: 50px;
  }
  .feedback .feedback-detial h5 {
    font-size: 14px;
    margin: 5px 10px 0 0;
  }
  .feedback .feedback-comment {
    padding: 15px 10px;
    font-size: 14px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 600px) {
  .dark-theme .bg {
    width: 100%;
    height: 1050px;
    background-image: url("../Images/Untitled-15.jpg");
    background-size: contain;
  }
  .light-theme .bg {
    width: 100%;
    height: 1050px;
    background-image: url("../Images/Untitled-0.jpg");
    background-size: contain;
  }
  .side-width {
    width: 80%;
  }
  .home-page {
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
  .links {
    display: none;
  }
  .navpar {
    margin: 0 25px;
  }
  .navpar .logo img {
    width: 130px;
    height: 30px;
  }
  .navpar .nav-icons .Menu-icon {
    width: 40px;
  }
  .navpar .nav-icons .user-icon {
    width: 38px;
    margin-left: 10px;
  }
  .home-content {
    width: 350px;
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  .home-content p {
    font-size: 15px;
    margin: 30px 0;
  }
  .home-content .btn-regester {
    width: 150px;
    height: 40px;
    margin: 0;
  }
  hr {
    margin-top: 25px;
  }
  .introduce {
    margin-top: -400px;
  }
  .introduce .introduce-img img {
    width: 320px;
    margin: 0px auto -120px auto;
  }
  .introduce .introduce-content {
    width: 95%;
    height: 450px;
  }
  .introduce .introduce-content p {
    font-size: 15px;
    padding: 150px 20px;
  }
  .featrues .featrues-card {
    width: 60%;
  }
  .featrues .featrues-card .card-content {
    padding: 30px 20px;
  }
  .video-con .video {
    width: 90%;
    height: 350px;
    margin: 0 auto;
  }
  .video-con img {
    -webkit-transform: translateY(-35%);
            transform: translateY(-35%);
  }
  .feedback .feedback-card {
    width: 80%;
    height: 200px;
    padding: 30px 30px;
  }
  .feedback .feedback-avatar {
    width: 50px;
  }
  .feedback .feedback-comment {
    padding: 20px 0px;
    font-size: 15px;
  }
  .feedback h5 {
    font-size: 16px;
    margin: 5px 10px 0 0;
  }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .dark-theme .bg {
    width: 100%;
    height: 1050px;
    background-image: url("../Images/Untitled-15.jpg");
    background-size: cover;
  }
  .light-theme .bg {
    width: 100%;
    height: 1050px;
    background-image: url("../Images/Untitled-0.jpg");
    background-size: cover;
  }
  .links {
    display: none;
  }
  .navpar .logo img {
    width: 200px;
    height: 30px;
  }
  .navpar .nav-icons .Menu-icon {
    width: 50px;
    cursor: pointer;
  }
  .navpar .nav-icons .user-icon {
    width: 50px;
    margin-left: 10px;
  }
  .home-content {
    width: 500px;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  .home-page {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
  .btn-regester {
    margin: 0;
  }
  .introduce .introduce-img img {
    width: 380px;
    margin: 0px auto -120px auto;
  }
  .introduce .introduce-content {
    height: 450px;
  }
  .introduce .introduce-content p {
    font-size: 16px;
    padding: 150px 20px;
  }
  .feedback .feedback-card {
    width: 70%;
    height: 250px;
  }
  .feedback .feedback-avatar {
    width: 50px;
  }
  .feedback .feedback-detial h5 {
    font-size: 18px;
  }
  .feedback .feedback-comment {
    padding: 5px 60px;
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .dark-theme .bg {
    width: 100%;
    height: 1250px;
    background-image: url("../Images/Untitled-15.jpg");
    background-size: cover;
  }
  .light-theme .bg {
    width: 100%;
    height: 1250px;
    background-image: url("../Images/Untitled-0.jpg");
    background-size: cover;
  }
  .home-page {
    -webkit-transform: translateY(-80%);
            transform: translateY(-80%);
  }
  .links {
    display: none;
  }
  .navpar .logo img {
    width: 200px;
    height: 30px;
  }
  .navpar .nav-icons .Menu-icon {
    width: 50px;
  }
  .navpar .nav-icons .user-icon {
    width: 50px;
    margin-left: 10px;
  }
  .home-content {
    width: 550px;
    -webkit-transform: translateY(60%);
            transform: translateY(60%);
  }
  .btn-regester {
    margin: 0;
    margin-right: 50px;
  }
  .introduce .introduce-img img {
    width: 380px;
    margin: 0px auto -120px auto;
  }
  .introduce .introduce-content {
    height: 400px;
  }
  .introduce .introduce-content p {
    font-size: 16px;
    padding: 150px 20px;
  }
  .feedback .feedback-card {
    width: 70%;
    height: 250px;
  }
  .feedback img {
    width: 50px;
  }
  .feedback .feedback-avatar {
    width: 50px;
  }
  .feedback .feedback-detial h5 {
    font-size: 18px;
  }
  .feedback .feedback-comment {
    padding: 5px 60px;
    font-size: 16px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .dark-theme .bg {
    width: 100%;
    height: 1400px;
    background-image: url("../Images/Untitled-15.jpg");
    background-size: cover;
  }
  .light-theme .bg {
    width: 100%;
    height: 1400px;
    background-image: url("../Images/Untitled-0.jpg");
    background-size: cover;
  }
  .home-page {
    -webkit-transform: translateY(-130%);
            transform: translateY(-130%);
  }
  .home-content {
    width: 800px;
    -webkit-transform: translateY(130%);
            transform: translateY(130%);
  }
  .feedback .feedback-card {
    width: 47%;
    height: 250px;
  }
  .feedback img {
    width: 50px;
  }
  .feedback .feedback-avatar {
    width: 50px;
  }
  .feedback .feedback-detial h5 {
    font-size: 18px;
  }
  .feedback .feedback-comment {
    padding: 5px 60px;
    font-size: 16px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1450px) {
  .home-content {
    width: 600px;
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
}